<form>

  <div form-group class="text-center">
    <h3>Entrar no sistema</h3>
  </div>
  <br>
  <div class="form-group">
    <label for="login">Usuario</label>
    <input type="text" class="form-control"[(ngModel)] = "usuario.login" id="login" name="login" placeholder="Usuario" required>
  </div>

  <div class="form-group">
    <label for="senha">Senha</label>
    <input type="password" class="form-control" [(ngModel)] = "usuario.senha" id="senha" name="senha" placeholder="Senha" required>
  </div>

  <button type="button" class="btn btn-primary" (click) = "login()">Acessar</button>
</form>
